body {
	margin: 0;
	text-align: center;
}
h1 {
	margin-top: 0;
	width: 20%;
	margin: 0 auto 0 auto;
}

.pro {
	text-decoration: underline;
}

.top-container {
	background-color: #e4f9f5;
	padding-top: 100px;
}

.top-cloud {
	position: relative;
	left: 300px;
}

.bottom-cloud {
	position: absolute;
}
